body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

.app-container {
    background-color: #1F2937;
    max-width: 450px;
    margin: auto;
}

header {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 1.25rem 1rem; 

}

input {
    padding: 0;
}

input, select, button {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    border-radius: 5px;

}
select {
    padding: 0.5rem;
    background-color: #1F293A;
}

button {
    font-size: 0.75rem;
    padding: 0.7rem;
    background-color: #3D4B60;
    border: none;
}

.colors-container {
    display: flex;
    padding: 1rem 0;
}

.color-inner {
    width: 20%;
    /* display: flex; */
    /* flex-direction: column; */
    font-size: 0.8rem;
    text-align: center;
}

.color-inner p,
.color-inner div {
    margin: 0;
    padding: 0;
}

.color {
    height: 200px;
}
